@media screen and (max-width: 1280px) {
    header {
        background-color: rgba(48, 48, 48, 1);
        text-align: left;
        width: auto;

        h1 {
            color: rgba(255, 255, 255, 1);
            font-size: 52px;
            font-weight: 600;
            line-height: 72px;
            letter-spacing: -0.025em;
            padding-top: 150px;
            margin-left: 62px;
            width: 80%;
        }
    
        p {
            color: rgba(255, 255, 255, 1);
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            margin-top: 20px;
            margin-left: 62px;
            padding-bottom: 149px;
            width: 80%;
        }
    }

    aside {
        background-color: rgba(249, 249, 249, 1);
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .container {
            margin: 67px 0 67px 0;
            color: rgba(0, 0, 0, 1);
            text-align: left;
            line-height: 28px;
        }

        .titulo-container-apresentação {
            font-size: 26px;
            font-weight: 600;
        }

        .texto-container-apresentação {
            font-size: 16px;
            font-weight: 600;
        }
    }

    main {
        align-items: center;
        justify-content: space-evenly;
        padding: 0 20px;
        display: flex;
        
        section {
            text-align: left;
        }

        h1 {
            width: 80%;
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        p {
            width: 90%;
            font-size: 20px;
            font-weight: 300;
        }

        img {
            width: 40%;
            height: auto;
            border-radius: 30px;
            padding: 80px 0 80px 0;
            filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
            background: transparent;
        }
    }

    form {
        background-color: rgba(48, 48, 48, 1);
        padding-top: 80px;
        padding-bottom: 10px;
        text-align: center;

        .inputs {
            display: block;
            text-align: left;
            margin: 40px auto 40px auto;
            width: 60%;
            height: 72px;
            border-radius: 10px;
            border: none;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 1);
        }
    
        button {
            display: block;
            margin: 70px auto;
            text-align: center;
            border: none;
            border-radius: 10px;
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));
            cursor: pointer;
            background: rgba(192, 114, 18, 1);
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
            color: rgba(255, 255, 255, 1);
            width: 286px;
            height: 74px;
        }

        button:hover {
            transition: 200ms linear;
            scale: 1.04;
        }
    
        button:active {
            opacity: 0.6;
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        background-color: rgba(48, 48, 48, 1);
        text-align: center;
        width: auto;
        height: auto;

        h1 {
            color: rgba(255, 255, 255, 1);
            font-size: 26px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0;
            padding-top: 30px;
            margin-left: 0;
            width: 70%;
            text-align: center;
            margin: 0 auto 30px;
        }

        p {
            color: rgba(255, 255, 255, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            margin-top: 0;
            margin-left: 0;
            padding-bottom: 30px;
            text-align: center;
            max-width: 70%;
            margin: 0 auto;
        }
    }

    aside {
        background-color: rgba(249, 249, 249, 1);
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: auto;

        .container {
            margin: 35px 0 35px 0;
            color: rgba(0, 0, 0, 1);
            text-align: center;
            line-height: 23px;
            padding: 5px;
        }

        .titulo-container-apresentação {
            font-size: 12px;
            font-weight: 600;
        }

        .texto-container-apresentação {
            font-size: 12px;
            font-weight: 600;
        }
    }

    main {
        display: block;
        width: auto;

        section {
            text-align: center;
            line-height: 24px;
        }

        h1 {
            width: 65%;
            font-size: 22px;
            font-weight: 500;
            margin-top: 30px;
            margin: 30px auto;
        }

        p {
            width: 80%;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            margin: 0 auto;
        }

        img {
            display: block;
            width: 70%;
            height: auto;
            border-radius: 30px;
            padding: 0;
            filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
            margin: 30px auto;
            background: transparent;
        }
    }

    form {
        background-color: rgba(48, 48, 48, 1);
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        width: auto;
        padding-bottom: 40px;

        h1 {
            color: rgba(255, 255, 255, 1);
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            width: 60%;
            padding-top: 40PX;
            margin: 0 auto 40px;
        }

        .inputs {
            display: block;
            text-align: left;
            margin: 20px auto;
            width: 70%;
            height: 50px;
            border-radius: 10px;
            border: none;
            font-size: 14px;
            font-weight: 700;
            line-height: 30px;
            padding: 7px;
            background-color: rgba(255, 255, 255, 1);
        }

        button {
            display: block;
            margin: 40px auto 0;
            text-align: center;
            border: none;
            border-radius: 10px;
            filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));
            cursor: pointer;
            background: rgba(192, 114, 18, 1);
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            color: rgba(255, 255, 255, 1);
            width: 210px;
            height: 50px;
        }

        button:hover {
            transition: 200ms linear;
            scale: 1.04;
        }
    
        button:active {
            opacity: 0.6;
        }
    }
}